<head>
	<title>Akash Angle's Covid-19 mapper</title> 
</head>
  

<body>
  
  <h1>How to Protect Yourself</h1>
 
  <!-- Corona animation container -->
  <div class="animatediv"> 
  <img src="https://atheistiran.com/wp-content/uploads/2020/03/corona-virus.png">
    </div>
  
  <!-- Image on top of the Main menu container -->
  <img src="https://atheistiran.com/wp-content/uploads/2020/03/people-mask.png" class="TopImage">
  
  <!-- Main Menu Start -->
  <ul class="menu shadow">
    
		<li>
      <a href="#CleanYourHand">Clean your hands often</a>
    </li>
    
		<li>
      <a href="#AvoidCloseContact">Avoid close contact</a>
    </li>
        
		<li>
      <a href="#StayHome">Stay home if you’re sick</a>
    </li>
    
		<li>
      <a href="#CoverCoughs">Cover coughs and sneezes</a>
   </li>
    
		<li>
     <a href="#WearAFacemask">Wear a facemask if you are sick</a>
    </li>
    
		<li>
      <a href="#CleanAndDisinfect">Clean and Disinfect </a>
    </li>
	</ul>
  <!-- Main Menu End -->
  
  <!-- Free Space container  -->  
  <div style="margin-top:40%"></div>
  
  <!-- Message Boxes  -->  
   <h2>Clean Your Hand</h2>
  <div class="messagebox shadow" id="CleanYourHand">
    <ul>
<li><strong>Wash your hands</strong> often with soap and water for at least 20 seconds especially after you have been in a public place, or after blowing your nose, coughing, or sneezing.</li>
      <br>
<li>If soap and water are not readily available, <strong>use a hand sanitizer that contains at least 60% alcohol</strong>. Cover all surfaces of your hands and rub them together until they feel dry.</li>
      <br>
<li><strong>Avoid touching</strong> <strong>your eyes, nose, and mouth</strong> with unwashed hands.
 </li>
</ul>
  </div>
  </div>
  
<h2>Avoid Close Contact</h2>
  <div class="messagebox shadow" id="AvoidCloseContact">
    
    <ul>
<li><strong>Avoid close contact</strong> with people who are sick</li>
<li>Put <strong>distance between yourself and other</strong> <strong>people</strong> if COVID-19 is spreading in your community. This is especially important for people who are at higher risk of getting very sick.</li>
</ul>
    </div>
      
 

<h2>Stay Home</h2>
      <div class="messagebox shadow" id="StayHome">
        
        <li><strong>Stay home</strong> if you are sick, except to get medical care. Learn what to do if you are sick.</li>
  </div>
   


<h2>Cover Coughs</h2>
 <div class="messagebox shadow" id="CoverCoughs">
        
        <ul>
<li><strong>Cover your mouth and nose</strong> with a tissue when you cough or sneeze or use the inside of your elbow.</li>
<li><strong>Throw used tissues</strong> in the trash.</li>
<li>Immediately <strong>wash your hands</strong> with soap and water for at least 20 seconds. If soap and water are not readily available, clean your hands with a hand sanitizer that contains at least 60% alcohol.</li>
</ul>
        
  </div>


      <h2>Wear A Facemask</h2>
      <div class="messagebox shadow" id="WearAFacemask">
        
        <ul>
<li><strong>If you are sick:</strong> You should wear a facemask when you are around other people (e.g., sharing a room or vehicle) and before you enter a healthcare provider’s office. If you are not able to wear a facemask (for example, because it causes trouble breathing), then you should do your best to cover your coughs and sneezes, and people who are caring for you should wear a facemask if they enter your room.</li>
          
          <li><strong>If you are NOT sick: </strong>You do not need to wear a facemask unless you are caring for someone who is sick (and they are not able to wear a facemask). Facemasks may be in short supply and they should be saved for caregivers.</li>
          
</ul>
  </div>
      

 <h2>Clean And Disinfect</h2>

      <div class="messagebox shadow" id="CleanAndDisinfect">
        
        
        <ul>
<li><strong>Clean AND disinfect frequently touched surfaces daily</strong>. This includes tables, doorknobs, light switches, countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.</li>
<li><strong>If surfaces are dirty, clean them:</strong> Use detergent or soap and water prior to disinfection.</li>
</ul>
</div>

<div id="WashHandsTxt">Wash Your Hands</div>


<!-- Table Container --> 
<div id="TblCon">
  
  <h3>More Information?</h3>
  
<!-- Table Start --> 
<table class="Tbl">
  <tr>
    <th>WHO</th>
    <th>CORONAVIRUS OUTBREAK</th> 
    <th>Novel Coronavirus Situation</th>
  </tr>
  <tr>
    <td>
      <a href="https://www.who.int">
      <img src="https://devpolicy.org/wp-content/uploads/2015/02/image13.png" alt="world health organization" style="width:100px">
      </a>
        </td>
    <td>
      <a href="https://www.worldometers.info/coronavirus/">
      <img src="https://www.worldometers.info/img/worldometers-logo.gif">
      </a>
      </td>
    <td>
      <a href="https://experience.arcgis.com/experience/685d0ace521648f8a5beeeee1b9125cd">
      <img src="https://experience.arcgis.com/site/widgets/landing/dist/runtime/assets/exb-logo.png" style="width:100px"
      </a>
      </td>
  </tr>
</table>
  
  <!-- Table End --> 
  
</div>
  
</body>
